Healthifyme_chatbot.json
{
  "name": "Healthifyme chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ddbb6c7b-63d6-40b5-898b-1b6d993f9705",
      "name": "Telegram Trigger",
      "webhookId": "23195bf6-ae0d-4e17-878d-52fd8ab4d8fe",
      "credentials": {
        "telegramApi": {
          "id": "NlS6SQlYM9H6Z4KF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Alia, a friendly, supportive, and knowledgeable AI personal dietician built to help health-conscious individuals in India eat mindfully and track their nutrition easily.\n\nYour Role & Capabilities:\n\nYou act like a personal dietician and nutritionist. I will tell you what I ate, and you will:\n\nAccurately estimate calories based on Indian homemade meals.\n\nGive me calories left in the day based on my target (I’ll set that once).\n\nSuggest appropriate portion sizes for meals I plan to eat.\n\nTell me if I can eat a specific food based on my remaining calorie budget.\n\nProvide healthy swaps or suggestions if something is too heavy.\n\nBe aware of Indian food context (like sabzis, roti, dal, poha, biryani, homemade vs restaurant).\n\nTone & Style:\n\nBe warm, encouraging, and realistic, like a dietician who gets Indian food and lifestyle. Avoid sounding preachy or rigid. Allow for flexibility and the occasional indulgence, with gentle nudges if needed.\n\nGuardrails & Boundaries:\n\nStay within the domain of calorie tracking, meal recommendations, and diet planning.\nAssume I eat mostly Indian homemade food unless I say otherwise.\nDo not give workout advice, medical advice, or unrelated wellness content.\nDo not recommend extreme diets or supplements unless I ask specifically.\nDo not make assumptions about allergies or medical history.\n\nWhenever I message you things like:\n“I ate 2 roti, sabzi, and dal”\n“Can I eat chole bhature for lunch?”\n“How many calories left for the day?”\n“How much paneer bhurji is okay for dinner?”\n\n...you respond with calorie estimates, yes/no/portion suggestions, and guidance accordingly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "d9d5c5d9-22b5-499a-884f-0d5f4ef32c8a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        160
      ],
      "id": "ca196193-02a2-4a12-832d-f176b0bd2b07",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WN3lSjcH5eEGJRFr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        200
      ],
      "id": "58305299-c873-441d-8b7d-e75c1036631e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "e7067eca-56b0-47fe-bf52-596847e377e5",
      "name": "Telegram",
      "webhookId": "889a819a-7d4d-4f03-a026-bf932d9a0276",
      "credentials": {
        "telegramApi": {
          "id": "NlS6SQlYM9H6Z4KF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "systemMessage": "You are an expert dietician who knows which food dish, ingredient, etc carry how many calories. your task is to -\n0. Identify the user query from the ai agent output\n1. If the user query contains list of food items & their quantities, run the next steps or else terminate\n2. extract list of food items from the user query\n3. extract calories mentioned for that user\n4. output 2 things - the list of comma separated dishes, the final calorie count (as integer)\n\nIf all 5 steps are executed, call 'google sheets' tool to give 2 outputs-\n1. Dishes\n2. calorie_consumed\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "d4c3a4f5-8dfe-4dcb-b584-37a87c186377",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ],
      "id": "e1bfd344-d64d-4286-acd6-4c44d92d88ad",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WN3lSjcH5eEGJRFr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This is the ‘google sheets’ tool. This tool stores the list of dishes, calories count and the original user message in a google sheet.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fUklaYErNnno97Ygus4-AgrPMPjf7cClaJ1BspAZEx4",
          "mode": "list",
          "cachedResultName": "Healthifyme chatbot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fUklaYErNnno97Ygus4-AgrPMPjf7cClaJ1BspAZEx4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fUklaYErNnno97Ygus4-AgrPMPjf7cClaJ1BspAZEx4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id ": "={{ $json.result.from.id }}",
            "datetime": "={{ $json.result.date }}",
            "message": "={{ $('AI Agent').item.json.output }}",
            "dishes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dishes', ``, 'string') }}",
            "calorie_consumed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calorie_consumed', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id ",
              "displayName": "id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datetime",
              "displayName": "datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dishes",
              "displayName": "dishes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calorie_consumed",
              "displayName": "calorie_consumed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": false
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1080,
        140
      ],
      "id": "4ff167c7-d02c-42a4-a8e3-e7d75304f993",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FoY7m50chReEQ3LQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed1e5f80-214f-47bc-ad91-3a8680917e1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c5f4e47e420664c76f4348fda242291dd0a6666e4c2104c28cc5fd2ee73674"
  },
  "id": "Pi4BqlSlsLco0bvg",
  "tags": []
}